
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";




}







           
             

                    @*<img src="imagenes/veterinaria.jpg" alt="">

                    <h3><b>Sistema de Hospital</b></h3>*@





       

